.checkout-form {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 30px;
  background-color: #bca7a7;
}
.checkout-form form {
  width: 60%;
  margin: auto;
}
.checkout-form form > div {
  display: flex;
  flex-direction: column;
}
.checkout-form input {
  height: 40px;
  margin: 10px 0;
}